@import "../variables";

.cart-dropdown {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 100%;
  right: 0;
  width: $headerHeight;
  height: 0;
  background-color: hsla(0, 0%, 71%, 0.95);
  z-index: 0;

  .content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    transition: opacity 100ms;
    &[revealed=true] {
      opacity: 1;
      transition: opacity 400ms 200ms;
    }
    .cart-items {
      overflow-y: scroll;
      overflow-x: hidden;
      width: 90%;
      flex: 1;
      margin-bottom: 20px;
      text-align: center;
      mask-image: linear-gradient(to bottom, white, white 10px, white 90%, transparent);
      font-weight: bold;
      &[count='0'] {
        overflow-y: unset;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: transparent;
      }
      
      &::-webkit-scrollbar {
        width: 9px;
      }
      
      &::-webkit-scrollbar-thumb {
        z-index: 100;
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
      }
    }
  }

}