@import "../variables";

.header {
  position: fixed;
  z-index: 10;
  left: $appXpadding;
  right: $appXpadding;
  top: 0;
  height: $headerHeight;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #E6E6E6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .logo-container {
    width: $headerHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    svg {
      height: 80%;
      width: 80%;
    }
  }

  .links {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}