.cart-dropdown-item {
  width: 100%;
  display: flex;
  height: fit-content;
  background: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,0) 100%);
  margin-bottom: 15px;
  opacity: 0;
  transform: translateX(30px);
  &[revealed=true] {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 250ms ease-out, transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  .img {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .name {
      font-size: 16px;
      text-align: start;
    }
  }
}
