@import "./components/variables";

:root {
   --Xpadding: 8vw;
}

* {
   overflow: hidden;
}

body, html {
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
}
a {
   text-decoration: none;
   color: black;
}
.App {
   position: relative;
   @include fine-scrollbar;
   height: 100vh;
   padding: 0 var(--Xpadding);
   box-sizing: border-box;
   overflow: hidden;
   .transition-div {
      position: absolute;
      overflow: visible;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      -webkit-overflow-scrolling: touch;
      &.nested {
         margin-top: 0;
      }
   }
   .transition-div:not(.nested) {
      margin-top: $headerHeight;
      padding: 0 var(--Xpadding);
      overflow-y: scroll !important;
      overflow-x: hidden;
      @include fine-scrollbar-shop;
      & > *:first-child {
         width: calc(100vw - var(--Xpadding) - var(--Xpadding));
         box-sizing: border-box;
      }
   }
}

@media only screen and (max-width: 992px) {
   :root {
      --Xpadding: 4vw;
   }
 }
 
 @media only screen and (max-width: 768px) {
    :root {
       --Xpadding: 2vw;
    }
 }
 
 @media only screen and (max-width: 575px) {
    :root {
       --Xpadding: 0vw;
    }
 }